.features-list {
  padding: 0px 0;
  background-color: #000;

  &__header {
    text-align: center;
    margin-bottom: 64px;
  }

  &__title {
    font-size: 36px;
    letter-spacing: -1px;
  }

  &__subtitle {
    max-width: 700px; 
    margin: 0 auto 32px;
    font-size: 18px;
    line-height: 1.5;
    color: #9ca3af;
    margin: 23.5px auto 7.5px;    
  }

  &__badge {
    color: #0284c7;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    margin-bottom: 80px;
  }
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 колонки
  gap: 32px;
}

.feature-card {
  background: #1c1c1c; 
  border: 1px solid #27272a;
  border-radius: 16px;
  padding: 32px;
  transition: transform 0.3s ease, border-color 0.3s ease;

  // Создаем переменную для цвета по умолчанию
  --accent-color: #3f3f46;

  &:hover {
    transform: translateY(-8px);
    border-color: var(--accent-color);
    
    .feature-card__icon {
      background: var(--accent-color);
      box-shadow: 0 0 20px var(--accent-color);
      color: #fff; // Если там иконка-шрифт или текст
      transform: scale(1.1);
    }
  }

  &__icon {
    transition: all 0.3s ease;
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 24px;
  }

  &__name {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 15px;
    color: #9ca3af;
    line-height: 1.6;
    margin-bottom: 24px;
  }

  &__link {
    color: #0284c7;
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;

    span {
      transition: transform 0.2s ease;
    }

    &:hover span {
      transform: translateX(4px);
    }
  }

  // Цвета для каждой иконки
  .icon-magic { --accent-color: #8b5cf6; }  // Фиолетовый
  .icon-micro { --accent-color: #ec4899; }  // Розовый
  .icon-folder { --accent-color: #f59e0b; } // Оранжевый
  .icon-screen { --accent-color: #06b6d4; } // Бирюзовый
  .icon-chart { --accent-color: #10b981; }  // Зеленый
  .icon-chat { --accent-color: #3b82f6; }   // Синий
}