* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-black; 
    color: $text-main;
    font-family: $font-main;
    line-height: 1.5;
}

.container {
    max-width: 1280px; 
    margin: 0 auto;
    padding: 0 20px;
}