// Цвета фона
$bg-black:     #000000; 
$bg-header:    #1E1E1E; 
$bg-card-top:  #262626; 
$bg-card-bot:  #171717; 
$bg-code:      #1E1E1E; 

// Акценты и текст
$accent-color: #0069D9; 
$accent-light: #0284C7; 
$text-main:    #FFFFFF; 
$text-gray:    #ABB2BF; 

// Шрифты
$font-main: 'Inter', sans-serif;
$font-code: 'Azeret Mono', monospace;

// Сетка
$container-width: 1280px;